In [71]:
import pandas as pd
import numpy as np

Create a dataframe with 3 columns and 50 rows of random numbers and replace 10% of the values with NaN

In [90]:
data = {'A': np.random.rand(50),
        'B': np.random.rand(50),
        'C': np.random.rand(50)}
df = pd.DataFrame(data)

null_indices = np.random.choice(df.index, size=15, replace=False)
null_columns = np.random.choice(df.columns, size=15)

# Replace the values at the null_indices,null_columns by NaN;
# null_indices and null_column contain random 15 index and column resp.
for i,j in zip(null_indices,null_columns):
    df.loc[i,j] = np.nan

print(df)

           A         B         C
0   0.893220  0.922556  0.584543
1   0.089016  0.414256       NaN
2   0.454233  0.420553  0.274649
3   0.916000  0.828900  0.541060
4   0.997416  0.113708  0.356557
5   0.311233  0.754962  0.919093
6   0.931309  0.791020  0.410137
7   0.514140       NaN  0.830949
8        NaN  0.962599  0.471706
9        NaN  0.275446  0.836176
10  0.243972  0.175596  0.136609
11       NaN  0.856874  0.563186
12  0.706098  0.894087  0.643257
13  0.723303  0.855486  0.144763
14  0.425108  0.915114  0.022811
15  0.502848  0.815529  0.559727
16  0.793130  0.281041  0.915345
17  0.686352  0.015018  0.153090
18  0.338382  0.732074       NaN
19  0.118705  0.775934  0.225726
20  0.683846  0.352497  0.334253
21  0.987785       NaN  0.115291
22  0.395714  0.132755  0.780052
23  0.900768  0.504714  0.851634
24       NaN  0.577497  0.831430
25  0.798156  0.342381  0.858623
26  0.231200  0.202564  0.150451
27  0.470722  0.805346  0.952302
28  0.696808  0.769036  0.762570
29  0.578913  0.928370  0.131609
30  0.279332       NaN  0.059789
31  0.173795  0.967958  0.585833
32  0.051312  0.632369  0.987602
33  0.330893  0.357028  0.393171
34  0.461622  0.577954  0.464993
35  0.843476  0.070892       NaN
36  0.654179  0.833832  0.568430
37  0.505244  0.372202  0.668790
38  0.727056  0.011129  0.278402
39  0.582238       NaN  0.119805
40  0.459021  0.553398       NaN
41  0.580154  0.402345  0.711664
42  0.303066  0.641104       NaN
43  0.499660  0.307106  0.447158
44  0.781187  0.121033  0.297454
45       NaN  0.335598  0.405634
46  0.762033  0.677768  0.649997
47  0.720265  0.963834  0.298115
48  0.828034  0.275382  0.171126
49  0.337516  0.380676       NaN

a. Identify and count missing values in a dataframe

In [81]:

print(df.isnull())
print(df.isnull().sum())

        A      B      C
0   False  False  False
1   False  False  False
2    True  False  False
3   False   True  False
4   False  False  False
5   False  False  False
6   False  False  False
7   False  False  False
8   False  False  False
9   False  False  False
10  False  False  False
11   True  False  False
12   True  False  False
13  False  False  False
14  False  False  False
15  False  False   True
16  False   True  False
17  False  False  False
18  False  False  False
19   True  False  False
20  False  False  False
21  False  False  False
22  False  False  False
23  False   True  False
24   True  False  False
25  False  False  False
26  False  False  False
27  False   True  False
28  False  False  False
29  False  False   True
30  False  False  False
31  False  False  False
32  False   True  False
33  False  False  False
34  False  False  False
35  False  False  False
36  False  False  False
37  False  False  False
38  False  False  False
39  False  False  False
40   True  False  False
41  False  False  False
42  False  False  False
43  False  False  False
44  False  False  False
45  False   True  False
46  False  False  False
47  False  False  False
48   True  False  False
49  False  False  False
A    7
B    6
C    2
dtype: int64

b. Drop the column having more than 5 null values

In [79]:

#thresh specified miniumum number of non null values each column must have.
df = df.dropna(thresh=len(df)-5, axis=1)
df

           A         C
0   0.008162  0.684303
1   0.971842  0.487280
2   0.498366  0.603147
3   0.018690  0.709235
4   0.682306  0.469182
5   0.922805  0.033374
6   0.811604  0.185689
7   0.502001  0.105779
8   0.401957  0.858839
9   0.065330  0.798985
10  0.046787  0.441933
11  0.344006  0.905584
12  0.774237  0.888699
13  0.311484       NaN
14  0.205823  0.055502
15  0.402916  0.109761
16  0.226899  0.295448
17  0.942962  0.198594
18  0.022452  0.601152
19  0.443269  0.656775
20       NaN  0.437856
21  0.425181  0.911778
22  0.670187       NaN
23  0.579354  0.660692
24  0.555933  0.869406
25  0.642399  0.957851
26  0.603505  0.487873
27  0.942142  0.316767
28       NaN  0.554075
29  0.698212  0.043704
30  0.633321  0.518247
31  0.722356       NaN
32  0.481627  0.115720
33  0.196172  0.742791
34  0.632401       NaN
35  0.422044  0.288743
36  0.745899  0.300752
37       NaN  0.784156
38  0.579071  0.625507
39  0.489275  0.437812
40  0.141279  0.100595
41  0.489316       NaN
42  0.352710  0.400140
43  0.336853  0.234591
44  0.008717  0.532440
45  0.893033  0.670828
46  0.872745  0.146999
47  0.091648  0.805590
48  0.763503  0.865704
49       NaN  0.892404

c. Identify the row label having maximum of the sum of all values in a row and drop that row

In [82]:
# df.sum(axis=1) will provide sum of each row of df
# idxmax will provide index of maximum value among them
df = df.drop(df.sum(axis=1).idxmax())
df

           A         B         C
0   0.925339  0.504639  0.362413
1   0.375814  0.581356  0.880551
2        NaN  0.650049  0.837079
3   0.283141       NaN  0.525087
4   0.302828  0.132976  0.977440
5   0.240611  0.333233  0.579657
6   0.705439  0.083235  0.424485
7   0.744103  0.096997  0.092719
8   0.998621  0.014675  0.070209
10  0.777119  0.709844  0.015637
11       NaN  0.328301  0.254253
12       NaN  0.204870  0.575648
13  0.738043  0.446197  0.578196
14  0.834315  0.961101  0.779750
15  0.155017  0.875565       NaN
16  0.786209       NaN  0.913656
17  0.997425  0.374502  0.530541
18  0.823750  0.332739  0.299419
19       NaN  0.835445  0.241176
20  0.841802  0.657750  0.937340
21  0.867077  0.348406  0.207978
22  0.433363  0.704002  0.525433
23  0.476590       NaN  0.122639
24       NaN  0.046977  0.132251
25  0.733979  0.559377  0.889321
26  0.924702  0.411276  0.310860
27  0.499327       NaN  0.694529
28  0.479896  0.723043  0.087160
29  0.319620  0.175838       NaN
30  0.826833  0.335424  0.367090
31  0.710632  0.956005  0.443247
32  0.232352       NaN  0.109164
33  0.446590  0.879385  0.791659
34  0.086909  0.418725  0.952174
35  0.297702  0.532024  0.297512
36  0.277046  0.791666  0.969428
37  0.197736  0.894693  0.834225
38  0.905624  0.094025  0.678055
39  0.592877  0.622729  0.503695
40       NaN  0.485022  0.942776
41  0.799828  0.315672  0.011267
42  0.442263  0.041299  0.643678
43  0.033907  0.589997  0.848009
44  0.234219  0.308505  0.633735
45  0.243088       NaN  0.814376
46  0.320141  0.562759  0.755783
47  0.695481  0.633193  0.095844
48       NaN  0.655323  0.263837
49  0.665135  0.401521  0.692333

d. Sort the dataframe based on the first column

In [83]:
df = df.sort_values(by='A')
df

           A         B         C
43  0.033907  0.589997  0.848009
34  0.086909  0.418725  0.952174
15  0.155017  0.875565       NaN
37  0.197736  0.894693  0.834225
32  0.232352       NaN  0.109164
44  0.234219  0.308505  0.633735
5   0.240611  0.333233  0.579657
45  0.243088       NaN  0.814376
36  0.277046  0.791666  0.969428
3   0.283141       NaN  0.525087
35  0.297702  0.532024  0.297512
4   0.302828  0.132976  0.977440
29  0.319620  0.175838       NaN
46  0.320141  0.562759  0.755783
1   0.375814  0.581356  0.880551
22  0.433363  0.704002  0.525433
42  0.442263  0.041299  0.643678
33  0.446590  0.879385  0.791659
23  0.476590       NaN  0.122639
28  0.479896  0.723043  0.087160
27  0.499327       NaN  0.694529
39  0.592877  0.622729  0.503695
49  0.665135  0.401521  0.692333
47  0.695481  0.633193  0.095844
6   0.705439  0.083235  0.424485
31  0.710632  0.956005  0.443247
25  0.733979  0.559377  0.889321
13  0.738043  0.446197  0.578196
7   0.744103  0.096997  0.092719
10  0.777119  0.709844  0.015637
16  0.786209       NaN  0.913656
41  0.799828  0.315672  0.011267
18  0.823750  0.332739  0.299419
30  0.826833  0.335424  0.367090
14  0.834315  0.961101  0.779750
20  0.841802  0.657750  0.937340
21  0.867077  0.348406  0.207978
38  0.905624  0.094025  0.678055
26  0.924702  0.411276  0.310860
0   0.925339  0.504639  0.362413
17  0.997425  0.374502  0.530541
8   0.998621  0.014675  0.070209
2        NaN  0.650049  0.837079
11       NaN  0.328301  0.254253
12       NaN  0.204870  0.575648
19       NaN  0.835445  0.241176
24       NaN  0.046977  0.132251
40       NaN  0.485022  0.942776
48       NaN  0.655323  0.263837

e. Remove all duplicates from the first column

In [84]:
df = df.drop_duplicates(subset='A')
df

           A         B         C
43  0.033907  0.589997  0.848009
34  0.086909  0.418725  0.952174
15  0.155017  0.875565       NaN
37  0.197736  0.894693  0.834225
32  0.232352       NaN  0.109164
44  0.234219  0.308505  0.633735
5   0.240611  0.333233  0.579657
45  0.243088       NaN  0.814376
36  0.277046  0.791666  0.969428
3   0.283141       NaN  0.525087
35  0.297702  0.532024  0.297512
4   0.302828  0.132976  0.977440
29  0.319620  0.175838       NaN
46  0.320141  0.562759  0.755783
1   0.375814  0.581356  0.880551
22  0.433363  0.704002  0.525433
42  0.442263  0.041299  0.643678
33  0.446590  0.879385  0.791659
23  0.476590       NaN  0.122639
28  0.479896  0.723043  0.087160
27  0.499327       NaN  0.694529
39  0.592877  0.622729  0.503695
49  0.665135  0.401521  0.692333
47  0.695481  0.633193  0.095844
6   0.705439  0.083235  0.424485
31  0.710632  0.956005  0.443247
25  0.733979  0.559377  0.889321
13  0.738043  0.446197  0.578196
7   0.744103  0.096997  0.092719
10  0.777119  0.709844  0.015637
16  0.786209       NaN  0.913656
41  0.799828  0.315672  0.011267
18  0.823750  0.332739  0.299419
30  0.826833  0.335424  0.367090
14  0.834315  0.961101  0.779750
20  0.841802  0.657750  0.937340
21  0.867077  0.348406  0.207978
38  0.905624  0.094025  0.678055
26  0.924702  0.411276  0.310860
0   0.925339  0.504639  0.362413
17  0.997425  0.374502  0.530541
8   0.998621  0.014675  0.070209
2        NaN  0.650049  0.837079

f. Find correlation between the first and second column, covariance between second and third column

In [85]:
correlation = df['A'].corr(df['B'])
covariance = df['B'].cov(df['C'])
print("Correlation between Column1 and Column2:", correlation)
print("Covariance between Column2 and Column3:", covariance)

Correlation between Column1 and Column2: -0.22790718008813424
Covariance between Column2 and Column3: 0.019683091303692894

g. Detect outliers and remove rows with outliers

In [86]:
# df.mean() and df.std() give mean and std of each column
z_scores = (df - df.mean()) / df.std()


# z score is a way to check outliers.
# non outliers con
threshold=1.25
outliers = (z_scores < -threshold) | (z_scores > threshold)


# outliers.any(axis=1) will return True if any one element in the row is True i.e outliers
# ~outliers.any(axis=1) will return True If all elements contain False in the row i.e. not even a single outliers 
df=df[~outliers.any(axis=1)]
df

           A         B         C
44  0.234219  0.308505  0.633735
5   0.240611  0.333233  0.579657
45  0.243088       NaN  0.814376
3   0.283141       NaN  0.525087
35  0.297702  0.532024  0.297512
29  0.319620  0.175838       NaN
46  0.320141  0.562759  0.755783
1   0.375814  0.581356  0.880551
22  0.433363  0.704002  0.525433
27  0.499327       NaN  0.694529
39  0.592877  0.622729  0.503695
49  0.665135  0.401521  0.692333
25  0.733979  0.559377  0.889321
13  0.738043  0.446197  0.578196
16  0.786209       NaN  0.913656
18  0.823750  0.332739  0.299419
30  0.826833  0.335424  0.367090
21  0.867077  0.348406  0.207978
2        NaN  0.650049  0.837079

h. Discretize the second column and create 5 bins

In [98]:
df['B_bins'] = pd.cut(np.array(df['B']), bins=5)
df

           A         B         C           B_bins
0   0.893220  0.922556  0.584543   (0.777, 0.968]
1   0.089016  0.414256       NaN   (0.394, 0.585]
2   0.454233  0.420553  0.274649   (0.394, 0.585]
3   0.916000  0.828900  0.541060   (0.777, 0.968]
4   0.997416  0.113708  0.356557  (0.0102, 0.202]
5   0.311233  0.754962  0.919093   (0.585, 0.777]
6   0.931309  0.791020  0.410137   (0.777, 0.968]
7   0.514140       NaN  0.830949              NaN
8        NaN  0.962599  0.471706   (0.777, 0.968]
9        NaN  0.275446  0.836176   (0.202, 0.394]
10  0.243972  0.175596  0.136609  (0.0102, 0.202]
11       NaN  0.856874  0.563186   (0.777, 0.968]
12  0.706098  0.894087  0.643257   (0.777, 0.968]
13  0.723303  0.855486  0.144763   (0.777, 0.968]
14  0.425108  0.915114  0.022811   (0.777, 0.968]
15  0.502848  0.815529  0.559727   (0.777, 0.968]
16  0.793130  0.281041  0.915345   (0.202, 0.394]
17  0.686352  0.015018  0.153090  (0.0102, 0.202]
18  0.338382  0.732074       NaN   (0.585, 0.777]
19  0.118705  0.775934  0.225726   (0.585, 0.777]
20  0.683846  0.352497  0.334253   (0.202, 0.394]
21  0.987785       NaN  0.115291              NaN
22  0.395714  0.132755  0.780052  (0.0102, 0.202]
23  0.900768  0.504714  0.851634   (0.394, 0.585]
24       NaN  0.577497  0.831430   (0.394, 0.585]
25  0.798156  0.342381  0.858623   (0.202, 0.394]
26  0.231200  0.202564  0.150451   (0.202, 0.394]
27  0.470722  0.805346  0.952302   (0.777, 0.968]
28  0.696808  0.769036  0.762570   (0.585, 0.777]
29  0.578913  0.928370  0.131609   (0.777, 0.968]
30  0.279332       NaN  0.059789              NaN
31  0.173795  0.967958  0.585833   (0.777, 0.968]
32  0.051312  0.632369  0.987602   (0.585, 0.777]
33  0.330893  0.357028  0.393171   (0.202, 0.394]
34  0.461622  0.577954  0.464993   (0.394, 0.585]
35  0.843476  0.070892       NaN  (0.0102, 0.202]
36  0.654179  0.833832  0.568430   (0.777, 0.968]
37  0.505244  0.372202  0.668790   (0.202, 0.394]
38  0.727056  0.011129  0.278402  (0.0102, 0.202]
39  0.582238       NaN  0.119805              NaN
40  0.459021  0.553398       NaN   (0.394, 0.585]
41  0.580154  0.402345  0.711664   (0.394, 0.585]
42  0.303066  0.641104       NaN   (0.585, 0.777]
43  0.499660  0.307106  0.447158   (0.202, 0.394]
44  0.781187  0.121033  0.297454  (0.0102, 0.202]
45       NaN  0.335598  0.405634   (0.202, 0.394]
46  0.762033  0.677768  0.649997   (0.585, 0.777]
47  0.720265  0.963834  0.298115   (0.777, 0.968]
48  0.828034  0.275382  0.171126   (0.202, 0.394]
49  0.337516  0.380676       NaN   (0.202, 0.394]